* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  background-color: #020659;
}

body{
  max-width: 834px;
  margin: auto;
}

h1 {
  font-size:1.25em;
}

h2, h3 {
  font-size: 1em;
  color: white;
}

p, dl, dd {
  font-size: 1em;
  color: white;
}

footer p {
  font-size: .75em;
}

.header {
    background-color: #020873;
    width: 100%;
    z-index: 3;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #020873;
  }
  
  .header li a {
    color: white;
    display: block;
    text-decoration: none;
  }

  .page-title {
    font-size: 1.5em; 
    font-weight: bold; 
    font-variant: small-caps; 
    color: white; 
    padding: 10px 20px; 
    display: block; 
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #590242;
  }

  /* menu */
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  @media (min-width: 834px) {
   
    .header li a {
      padding: 20px 30px;
      justify-items: center;
      margin: auto;
    }
    .header .menu {
      clear: none;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
     ul {
      overflow: visible;
      top: 0;
      display: flex;
      justify-content: space-evenly;
  }
  label span, input {
      display: none;
  }
  }
  
  